body {
    font-family: 'Edu SA Beginner', cursive;
}

.container {
    margin-top: 100px;
    width: 1000px;
}





h4 {
    text-align: center;
}

.fa-solid.night {
    display: none;
    color: antiquewhite;
}

.fa-solid {
    text-align: center;
    font-size: 70px;
    margin-top: 25px;

}

.fa-wind,
.fa-water,
.fa-droplet {
    font-size: 17px;
    line-height: 0.25;
}


.fa-sun {
    color: rgb(252, 206, 0);
}

.main {
    font-size: 120px;
    text-align: right;

}



.fa-cloud {
    color: skyblue;
}

.fa-cloud-bolt {
    color: rgb(56, 56, 82);
}



.temp {
    text-align: center;
}

.temp-day {
    text-align: center;
    font-size: 23px;
    font-weight: 100;
    margin-right: 10px;
    color: #132a49;
}

.temp-night {
    color: rgb(255, 255, 255);
    font-size: 23px;

}

.temp-main {
    font-size: 60px;
    font-weight: 200;
    margin-right: 10px;
    margin-top: 30px;
}

.night {
    display: none;
}

p {
    text-align: center;
}

.additions {
    margin-top: 15px;
    font-size: 20px;

}

.card {
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.col .card {
    transition: all 200ms ease-in-out;
}

.col .card:hover {
    background: linear-gradient(to top, #09203f 0%, #537895 100%);

}

.col .card:hover .night {
    display: block;
}


.col .card:hover .day {
    display: none;
}


.units{
    position:relative;
    top:-30px;

    font-size: 20px;
    font-weight: 200;
    margin-right: 10px;
    margin-top: 10px;
}