body {
    font-family: 'Edu SA Beginner', cursive;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}



.additions {
    margin-top: 15px;
    font-size: 20px;

}

.card {
    background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    max-width: 1100px;
    display: block;
    margin: 0 auto;
}

.col .card {
    transition: all 200ms ease-in-out;
}

.col .card:hover {
    background: linear-gradient(115.7deg, rgb(3, 79, 135) 6.2%, rgb(0, 184, 214) 112.9%);

}

.col .card:hover .night {
    display: block;
    margin: 0 auto;
}


.col .card:hover .day {
    display: none;
}



.container {
    margin-top: 100px;
    width: 80%;
    margin-top: 100px;
}



.fa-solid {
    text-align: center;
    font-size: 70px;
    margin-top: 25px;

}

.fa-wind,
.fa-water,
.fa-droplet {
    font-size: 17px;
    line-height: 0.25;
}




.main {
    font-size: 150px;
    text-align: right;

}

.main-icon {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    min-width: 150px;

}

.night {
    display: none;
}

.temp {
    text-align: center;
}

.temp-day {
    text-align: center;
    font-size: 23px;
    font-weight: 100;
    margin-right: 10px;
    color: #132a49;
}

.temp-night {
    color: rgb(255, 255, 255);
    font-size: 23px;

}

.temp-main {
    font-size: 60px;
    font-weight: 200;
    margin-right: 10px;
    margin-top: 30px;
}

.unit {
    text-decoration: none;
    color: black;
}


.units {
    position: relative;
    top: -25px;

    font-size: 25px;
    font-weight: bolder;
    margin-right: 0px;
    margin-top: 10px;


}